@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
 
}

table {
  background: #1d5321;
  border-radius: 0.25em;
  border-collapse: collapse;
  border: block 2px;;
  margin-left:250px;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th {
  border-bottom: 1px solid #364043;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 8000;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 100;
  padding: 1em 1em;
  text-align: centre;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}



