<h1>Voter Management</h1>
<div class="col-md-12">
<table border="1">
  <thead>
    <tr>
      <th>Election ID</th>
      <th>Title</th>
      <th>Candidate Id</th>
      <th>Candiate Name</th>
      <th>Party</th>
      <th>Total Votes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results">
      <td>{{ result.electionId }}</td>
      <td>{{ result.electionName}}</td>
      <td>{{ result.candidateId }}</td>
      <td>{{ result.candidateName }}</td>
      <td>{{ result.candidateParty}}</td>
      <td>{{ result.totalVotes }}</td>
    </tr>
  </tbody>
</table>
