@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin-top: 20px;
 background-color: #170507;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
table {
  background: #2427d3 ;
  border-radius: 0.25em;
  border-collapse: collapse;
  border: block 2px;;
  margin-left:380px;
  margin-top: 20px;
 
}

.table1 {
  background: #1d5321;
  border-radius: 0.50em;
  border-collapse: collapse;
  margin-left:500px;
  margin-top: 40px;
}

th {
  border-bottom: 1px solid #364043;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 8000;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 1em 1em;
  text-align: centre;
}
.disabled td {
  color: #4F5F64;
}
tbody{
  margin-top: 10px;
}
tbody tr {
  transition: background 0.25s ease;
  margin-top: -80px;
}
tbody tr:hover {
  background: #014055;
}

.labeldesign{
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 8000;
  margin-left: 620px;
  margin-top: 200px;
}

#electionSelect{
  margin-left: 600px;
  margin-top: 5px;
  height: 30px;
  border-radius: 30px;
}
/* CSS */
.button1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  margin-top: -10px;
  width: 100px;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* CSS */
.button2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  width: 100px;

  color: #fff;
  background: linear-gradient(180deg, #d3390b 0%, #d3162c 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button4{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  border-radius: 900px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 800;
  text-align: center;
  padding: 12px 16px 18px;
  color: #fff;
  background-color: #d76121;
  height: 40px;
  margin-left: 10px;
  :hover{
      background-color: #1db954;
  }
  
}

canvas {
  max-width: 80%;
  height: 50px;
  color: #000000;
  background-color: #f6f8f6;
  margin-left: 200px;
  margin-top: 50px;
}
