<!-- login.component.html -->
<div class="login-container">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <h1>Admin Login</h1>
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="loginRequest.username" name="username" placeholder="Enter your Username" required minlength="4"
        maxlength="20"
        pattern="[A-Za-z0-9]+"
        #username="ngModel"/>
        <div  *ngIf="username.invalid && username.touched" class="error">
          *Username is required and should be 3-20 alphanumeric characters.
          </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="loginRequest.password" name="password" placeholder="Enter your password" required minlength="4"
        maxlength="20"  #passwordHash="ngModel" />
        <div *ngIf="passwordHash.invalid && passwordHash.touched" class="error">
          *Password is required and should be at least 3 characters long.
          </div>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
  
