<!-- Display Candidate List -->
<table border="1">
  <tr>
    <th>Candidate ID</th>
    <th>Name</th>
    <th>Party</th>
    <th>Total Votes</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let candidate of candidates">
    <td>{{candidate.candidate_id}}</td>
    <td>{{candidate.name}}</td>
    <td>{{candidate.party}}</td>
    <td>{{candidate.totalVotes}}</td>
    <td>
      <button class="button1"  (click)="editCandidate(candidate)">Edit</button>
      <button class="button2" (click)="deleteCandidate(candidate.candidate_id)">Delete</button>
    </td>
  </tr>
</table>

<!-- Add or Update Candidate Form -->
<div *ngIf="isEditMode">
  <h3>Edit Candidate</h3>
  <form (ngSubmit)="updateCandidate()">
    <label for="editId">Candidate ID:</label>
    <input id="editId" [(ngModel)]="selectedCandidate.candidate_id" name="candidate_id" disabled>

    <label for="editName">Name:</label>
    <input id="editName" [(ngModel)]="selectedCandidate.name" name="name"  disabled>

    <label for="editParty">Party:</label>
    <input id="editParty" [(ngModel)]="selectedCandidate.party" name="party" required>

    <button  type="submit">Update Candidate</button>
    <button  (click)="isEditMode = false">Cancel</button>
  </form>
</div>

<div *ngIf="!isEditMode">
  <h2>Add New Candidate</h2>
  <form (ngSubmit)="addCandidate()">
    <table border="1">
    <th><label for="addName"> Name:</label></th>
    <input class="addP" id="addName" [(ngModel)]="candidateInfo.name" name="name" required>
  
  <th><label for="addParty"> Party:</label></th>
    <input class="addP" id="addParty" [(ngModel)]="candidateInfo.party" name="party" required>

    <button class="button3" type="submit">Add Candidate</button>
  </table>
  </form>
</div>


