*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 1000px;
	background: url('C:/Users/asanap2/Downloads/manny-becerra-BzZ6aI5_AYs-unsplash.jpg');
	background-repeat:repeat-x;
	background-size: cover;
	opacity: 10;
	background-position: 50px 50px 50px 50px;
	
}

h1{font-family: courier;
   justify-content: center;
   margin-top: 30px;
   margin-left: 200px;
   color: rgb(255, 255, 255);
   font-size: 40px;
   font-weight: bolder;
}
