<!-- homepage.component.html -->
<body>
    <div class="main-container">
     
      <div class="button-container">

        <h1>Manage Records :</h1>
       
        <a routerLink="/candidates" routerLinkActive="active"><button class="login-button">Candidates</button></a>
        <a routerLink="/elections" routerLinkActive="active">   <button class="login-button" >Elections</button></a>
        <a routerLink="/voters" routerLinkActive="active"><button class="login-button" >Voters</button></a>
      </div>
      <button class="button1" (click)="logout()">Logout</button>
    </div>
  </body>