/* homepage.component.css */

  
.navbar {
    background-color: #144228;
    padding: 15px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  
  .navbar .navbar-brand {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar .btn {
    margin-right: 20px;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background:  linear-gradient(0deg, rgba(27,166,55,1) 0%, rgba(212,148,10,1) 53%);
  }
  
  .button-container {
    text-align: center;
  }
  
  .login-button {
    background-color: #0b5117;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  