<header>
    <nav>
        <h2 ><a routerLink="/home">Online Voting System</a></h2>
        <!-- <a routerLink="/voters" routerLinkActive="active">Voters</a> 
        <a routerLink="/candidates" routerLinkActive="active">Candidates</a>  --> 
  
        <a routerLink="/electionsview" routerLinkActive="active">Elections</a>
        <a routerLink="/results" routerLinkActive="active">Results</a>
    </nav>
</header>


 <!-- <header>
    <nav>
        <h2 ><a routerLink="/register">Online Voting System</a></h2>
       <a routerLink="/voters" routerLinkActive="active">Voters</a> 
        <a routerLink="/candidates" routerLinkActive="active">Candidates</a> 
        <a routerLink="/elections" routerLinkActive="active">Elections</a> -->
        <!-- <a routerLink="/results" routerLinkActive="active">Results</a>
    </nav>
</header> -->